:root {
  --light: #fff;
  --dark: #000;
  --primary: #131313;
  --secondary: #ff7906;
  --accent: #222222;
}

$clr-light: var(--light);
$clr-dark: var(--dark);
$clr-primary: var(--primary);
$clr-secondary: var(--secondary);
$clr-accent: var(--accent);