@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.header__action {
  @apply bg-dark 
    absolute
    z-10 
    top-[100px]
    right-0 
    w-[0]
    h-[100vh]
    px-0
    pt-0
    duration-300
    overflow-hidden
    transition-all
    shadow-md
    md:static
    md:h-fit
    md:w-fit
    md:shadow-none;
}

.header__action.open {
  @apply w-[100%] 
    px-10 
    pt-10 
    transition-all
    duration-300;
}

/* !~~~~~~~~~~ BURGER ~~~~~~~~~~! */
.burger__menu {
  @apply lg:hidden;
}

.burger__menu.open {
  @apply z-50;
}

.burger__menu.open span {
  @apply bg-dark;
}

.burger__menu span {
  @apply w-[2.5rem] h-[.3rem] rounded-md bg-dark block transition-all duration-700;
}

.burger__menu.open span:first-child {
  @apply transform translate-y-[9px] translate-x-[17px] rotate-[215deg] transition-all w-[1.5rem];
}

.burger__menu.open span:nth-child(2) {
  @apply opacity-0 transition-all w-[1.3rem];
}

.burger__menu.open span:last-child {
}

.dropdownItem ul {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s ease-out;
  margin-left: 2rem;
}
.dropdownItem ul li {
  margin-bottom: 10px;
}
.dropdownItem.active ul {
  max-height: 50rem;
  transition: 0.3s ease-in;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.dropdownItem i {
  transform: rotate(90deg);
  transition: 0.3s ease;
}
.dropdownItem.active i {
  transform: rotate(-90deg);
  transition: 0.3s ease;
}

@layer base {
  @font-face {
    @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
  }
  .container {
    @apply max-w-[90rem] px-[15px]  w-full mx-auto;
  }
}

@layer utilities {
  .btn {
    @apply inline-block
      px-[1rem]
      border-transparent
      border-[1]
      transition-all
      duration-500
      scale-[1] 
      hover:scale-[1.1];
  }
  .btn.bg--accent {
    @apply bg-accent
      text-light;
  }

  .btn.bg--light {
    @apply bg-transparent
      text-dark
      border-dark
      border-[1px];
  }
  .btn.bg--outline {
    @apply bg-transparent
      text-dark
      border-accent
      border-[1px];
  }
  .btn.bg--transparent {
    @apply bg-transparent
      border-[1px];
  }
}
