@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@layer components {
  nav {
    @apply absolute 
    top-[100px] 
    z-10 
    bg-white 
    right-0
    w-0
    h-screen
    px-0
    pt-0
    lg:w-full
    lg:h-auto 
    lg:right-0  
    lg:block 
    lg:static 
    ease-in-out 
    transition-all;
  }

  nav ul {
    @apply opacity-0  transition-all lg:opacity-100;
  }

  nav.open {
    @apply w-[100%] 
    px-10 
    pt-10 
    transition-all;
  }

  nav.open ul {
    @apply opacity-100;
  }

  nav li {
    @apply text-center;
  }

  nav ul li {
    @apply relative mx-[1.25] w-full lg:border-r-2;
  }

  nav ul li:last-child {
    @apply border-0;
  }

  .faq-content h3 {
    @apply sm/lg:~text-[1rem]/[1.2rem];
  }

  .active-menu {
    @apply underline text-[#28941e];
  }

  /* !~~~~~~~~~~ BURGER ~~~~~~~~~~! */
  .burger__menu {
    @apply lg:hidden;
  }

  .burger__menu.open {
    @apply z-50;
  }

  .burger__menu.open span {
    @apply bg-dark;
  }

  .burger__menu span {
    @apply w-[2.5rem] h-[.3rem] rounded-md bg-dark block transition-all duration-700;
  }

  .burger__menu.open span:first-child {
    @apply transform translate-y-[1px] translate-x-[17px] rotate-[30deg] transition-all w-[1.5rem] duration-700;
  }

  .burger__menu.open span:last-child {
    @apply transform translate-y-[0px] translate-x-[17px] rotate-[-30deg] transition-all w-[1.5rem] duration-700;
  }

  .dropdownItem ul {
    @apply max-h-0 overflow-hidden ease-out duration-[0.3s] ml-[2rem];
  }
  .dropdownItem ul li {
    @apply mb-1;
  }
  .dropdownItem.active ul {
    @apply max-h-[50rem] ease-out duration-[0.3s] my-[2rem];
  }
  .dropdownItem i {
    @apply rotate-[90deg] ease-in-out duration-[0.3s];
  }
  .dropdownItem.active i {
    @apply rotate-[-90deg] ease-in-out  duration-[0.3s];
  }
}

@layer base {
  @font-face {
    @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
  }
  .container {
    @apply max-w-[90rem] px-[15px]  w-full mx-auto;
  }

  body {
    @apply font-[raleway];
  }
}

@layer utilities {
  .btn {
    @apply inline-block
      border-transparent
      transition-all
      duration-500;
  }
  .btn.bg--accent {
    @apply bg-accent
      text-light;
  }

  .btn.bg--light {
    @apply bg-transparent
      text-dark
      border-dark
      border-[1px];
  }
  .btn.bg--outline {
    @apply bg-transparent
      text-dark
      border-accent
      border-[1px];
  }
  .btn.bg--transparent {
    @apply bg-transparent
      border-[1px];
  }
}
