@use "../abstract/" as *;

// footer
.footer {
  padding: 5rem 0;

  // footer__wrapper
  &__wrapper {
    @include mediaQuery {
      display: flex;
      justify-content: center;
    }
  }

  // footer__action
  &__action {
    margin-bottom: 4rem;
    @include grid(2);
    @include mediaQuery {
      @include grid(4);
    }
    gap: 2rem;

    ul {
      list-style: none;
      li {
        font-size: 1.2rem;
        font-weight: 700;
      }

      li img {
        width: 60%;
        margin-bottom: 1.3rem;
      }
    }
    img {
      justify-self: center;
    }
  }

  // footer__action
  &__connect {
    ul {
      list-style: none;
      display: flex;
      gap: 2rem;

      i {
        font-size: 2.5rem;
        color: $clr--secondary;
      }
    }
  }
}
