@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Regular";
    font-weight: 400;
    src: url(/fonts/NetflixSans-Regular.woff2) format("woff2");
  }
  @font-face {
    font-family: "Bold";
    src: url(/fonts/NetflixSans-Bold.woff2) format("woff2");
  }
}

@layer {
  h1,
  h2,
  h3 {
    @apply font-Bold;
  }
  h4,
  h5,
  h6 {
    @apply font-Regular;
  }

  p {
    @apply mb-4 font-Regular;
  }

  img {
    @apply block w-full;
  }
}

@layer components {
  .btn {
    @apply inline-block h-[42px] px-2 py-1.5 bg-transparent text-white border border-gray-200 rounded-md;
  }
  .btn-accent {
    @apply bg-accent border-accent;
  }

  .input__wrapper {
    @apply relative mb-5;
  }

  .input__wrapper input {
    @apply w-full px-4 pb-2 pt-6 rounded-md bg-white/5 border border-white text-white outline-none;
  }

  .input__wrapper label {
    @apply absolute top-4 left-5 text-white pointer-events-none;
  }

  .input__wrapper input:focus + label,
  .input__wrapper input:valid + label {
    @apply text-xs top-2 left-4;
  }

  .feature-list .features:nth-child(even) .content {
    @apply order-1;
  }
  .feature-list .features:nth-child(even) .body {
    @apply order-2;
  }
}

.slick-dots {
  @apply absolute top-[-50px] left-[44vw] pointer-events-none;
}

.slick-dots li {
  @apply pointer-events-auto;
}

.slick-dots li button:before {
  @apply content-[''] w-[22px] h-[3px] bg-[#959595] mx-1;
}

.slick-next,
.slick-prev {
  @apply h-full opacity-0 hover:opacity-100 transition-all flex flex-col justify-center items-center mt-[-2px];
  svg {
    @apply h-fit 
      text-white text-4xl brightness-200;
  }
}
.slick-next::before,
.slick-prev::before {
  @apply hidden;
}

.movie__info:before {
  @apply content-[''] absolute bottom-0 z-[5] left-0 w-full h-[70px] block bg-gradient-to-t from-[rgb(20,20,20)] to-[rgba(20,20,20,.01)];
}
