@tailwind base;
@tailwind components;
@tailwind utilities;

/* h1,
h2,
h3,
p,
a,
img,
ul,
li,
i,
input,
form {
  @apply animate-spin;
} */

.sticky {
  @apply md:fixed
  md:w-[90%] 
  md:p-[1rem] 
  md:rounded-xl 
  md:transition-all 
  md:bg-dark z-50
  md:left-0
  md:right-0
  md:mx-auto;
}

/* !~~~~~~~~~~ HEADER ~~~~~~~~~~! */
.header__banner {
  @apply bg-banner
     bg-cover
     h-[700px]
     md:h-[100vh];
}
.header__wrapper {
  @apply flex items-center justify-between;
}

/* !~~~~~~~~~~ ACTION ~~~~~~~~~~! */
.header__action {
  @apply bg-dark 
    absolute
    z-10 
    top-0
    right-0 
    w-[0]
    h-[100vh]
    px-0
    pt-0
    duration-300
    overflow-hidden
    transition-all
    shadow-md
    md:static
    md:h-fit
    md:w-fit
    md:shadow-none;
}

.header__action.open {
  @apply w-[100%] 
    px-10 
    pt-10 
    transition-all
    duration-300;
}

/* !~~~~~~~~~~ Branding ~~~~~~~~~~! */

.branding img {
  @apply w-[6rem];
}

/* !~~~~~~~~~~ BURGER ~~~~~~~~~~! */
.burger__menu {
  @apply rotate-180 md:hidden;
}

.burger__menu.open {
  @apply z-50;
}

.burger__menu.open span {
  @apply bg-light;
}

.burger__menu span {
  @apply w-[1rem] h-[.4rem] bg-light block rounded-full transition-all duration-700;
}

.burger__menu span:nth-child(1) {
  @apply w-[1.3rem];
}
.burger__menu span:nth-child(2) {
  @apply my-[.2rem] w-[1.5rem];
}
.burger__menu span:nth-child(3) {
  @apply my-[.2rem]  w-[2rem];
}

.burger__menu.open span:first-child {
  @apply transform translate-y-[10px] rotate-[225deg] transition-all w-[2rem] duration-700;
}

.burger__menu.open span:nth-child(2) {
  @apply opacity-0 transition-all w-[1.3rem] duration-700;
}

.burger__menu.open span:last-child {
  @apply transform translate-y-[-9px] rotate-[-225deg] transition-all duration-700;
}

.project-content::after {
  @apply md:absolute 
  md:top-0 
  md:left-0
  md:content-['']
  md:w-full md:h-full
  md:bg-black/60
  md:transition-all;
}
.project-content:hover::after {
  @apply md:scale-0;
}
.content {
  @apply md:opacity-0;
}

.project-content:hover .content {
  @apply md:opacity-100
  md:transition-all;
}

@layer base {
  .container {
    @apply max-w-[90rem] p-[2rem]  w-full mx-auto;
  }
}

@layer utilities {
  .btn {
    @apply inline-block
      px-[1rem]
      rounded-2xl
      border-transparent
      border-[1]
      font-bold
      transition-all
      duration-500
      scale-[1] 
      hover:scale-[1.1];
  }
  .btn.bg--secondary {
    @apply bg-secondary
      text-light;
  }
  .btn.bg--light {
    @apply bg-transparent
      text-dark
      border-dark
      border-[1px];
  }
  .btn.bg--outline {
    @apply bg-transparent
      text-light
      border-light
      border-[1px];
  }
  .btn.bg--transparent {
    @apply bg-transparent
      border-[1px];
  }
}
