@use "../base" as *;
@use "../layout" as *;
@use "../abstract/" as *;
@use "../vendor/" as *;

// BANNER
.banner {
  img {
    @include imgCover(20rem, 100%);
    @include mediaQuery() {
      height: 40rem;
    }
  }
}

// CARDS
.cards {
  padding: 10rem 0;
  &__wrapper {
    @include grid(2);
    grid-row-gap: 1rem;

    @include mediaQuery {
      @include grid(3);
      grid-row-gap: 6rem;
    }
  }

  a {
    justify-self: center;
  }

  .card {
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
    height: 120px;
    width: 120px;

    @include mediaQuery {
      height: 265px;
      width: 265px;
    }

    img {
      @include imgCover(100%);
      aspect-ratio: 1 / 2;
      transition: ease-in-out 0.5s;
    }

    h4 {
      position: absolute;
      bottom: 0;
      left: 50%;
      text-align: center;
      transform: translateX(-50%);
      color: $clr--light;
    }

    &:hover img {
      transform: scale(1.2);
    }
  }
}
