@use "../base/" as *;
@use "../layout/" as *;
@use "../abstract/" as *;
@use "../vendor/" as *;
@use "../components/" as *;

.header-banner {
  .banner {
    &__wrapper {
      color: $clr-dark;
      .banner__content {
        @include flex(space-between, flex-end);
        @include mediaQuery {
          flex-direction: column;
        }
        .banner__left {
          width: 60%;
          h4 {
            letter-spacing: 0.4rem;
          }
          h1 {
            font-size: clamp(4rem, 6vw, 12rem);
            font-family: "FSPimlico-Bold";
            line-height: 12rem;
          }

          @include mediaQuery {
            width: unset;
            margin-bottom: 3rem;
            h4 {
            }
            h1 {
              line-height: 5rem;
            }
          }
        }
        .banner__right {
          @include flex(flex-end, flex-end);
          gap: 2rem;
          .alt-button {
            background-color: transparent;
            border: 1px solid $clr-secondary;
            color: $clr-dark;
          }
          i {
            font-size: clamp(1rem, 6vw, 2.5rem);
          }
          a {
            padding: 3rem 5rem;
            background-color: $clr-secondary;
            border-radius: 5rem;
            color: $clr-light;
          }
          small {
            margin-left: 1rem;
          }

          @include mediaQuery {
            flex-wrap: wrap;
            justify-content: unset;
            align-items: unset;
            a {
              width: 100%;
            }
          }
        }
      }
    }
    &__img {
      @include mediaQuery {
        flex-wrap: wrap;
        gap: 2rem;
      }
      @include flex;
      gap: 5rem;
      img {
        border-radius: 3rem;
        margin-bottom: 2rem;
      }
    }
  }
  @include roundedContainer(#f5f5f5);
  margin-bottom: 5rem;
  border-radius: 5rem;
}

.statistics {
  @include roundedContainer($clr-accent);
  margin-bottom: 20rem;
  padding: 5rem;
  &__wrapper {
    @include mediaQuery {
      flex-direction: column;
      text-align: center;
    }
  }
  &__info {
    color: $clr-light;
  }
}

.services {
  margin-bottom: 15rem;
  &__title {
    text-align: center;
    h4 {
      font-size: 1.7rem;
    }
  }
  &__card {
    @include roundedContainer($clr-accent);
    border-radius: 3rem;
    @include flex(space-between, center);
    @include mediaQuery {
      justify-content: center;
    }
    .services--info {
      @include mediaQuery {
        @include grid(1);
        padding-left: unset;
      }
      @include grid(2);
      grid-gap: 10rem;
      padding-left: 6.6rem;
      .blurb {
        @include mediaQuery {
          flex-direction: column;
          width: 30rem;
          text-align: center;
          img {
            align-self: center;
          }
        }
        padding: 3rem;
        width: 50rem;
        @include flex;
        gap: 2rem;
        h3 {
          margin-bottom: 2rem;
        }
      }
    }
    .services--img {
      @include mediaQuery {
        img {
          display: none;
        }
      }
      img {
        border-radius: 0 1rem 5rem 0;
      }
    }
  }
}

.team {
  margin-bottom: 20rem;
  &__wrapper {
    @include mediaQuery {
      flex-direction: column;
    }
    @include flex;
    gap: 5rem;
    .team__card {
      @include flex(space-around, center);
      gap: 5rem;
      .card-info {
        position: relative;
        h2 {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          color: $clr-dark;
          text-align: center;
        }
        img {
          border-radius: 3rem;
        }
      }
    }
  }
  &__title {
    margin-bottom: 10rem;
    h4 {
      font-size: 2rem;
    }
  }
}

.testimonial {
  @include mediaQuery {
    padding: 5rem 0;
  }
  @include roundedContainer($clr-accent);
  border-radius: 3rem;
  margin-bottom: 20rem;
  &__info {
    @include mediaQuery {
      flex-direction: column;
      text-align: center;
    }
    @include flex(space-between, center);
    .testimonial__left {
      @include mediaQuery {
        width: unset;
      }
      width: 40%;
      h1 {
        font-family: "arial";
        line-height: 7rem;
      }
      h4 {
        font-family: "Poppins";
        font-weight: 400;
        letter-spacing: 0.2rem;
      }
      i {
        color: $clr-secondary;
        font-size: 4rem;
      }
    }
    .testimonial__right {
      @include mediaQuery {
        width: unset;
        flex-direction: column;
      }
      width: 60%;
      .blurb {
        @include flex;
        clear: both;
        i {
          @include mediaQuery {
            display: none;
          }
          font-size: 7rem;
          margin-top: -4rem;
          opacity: 0.5;
        }
        p {
          @include mediaQuery {
            margin-left: unset;
            margin-top: 2rem;
          }
          margin-left: 2rem;
          font-size: 2rem;
          font-family: "Poppins";
          font-weight: 300;
        }
        i,
        p {
          float: left;
        }
      }
      .blurb-img {
        @include mediaQuery {
          margin-left: unset;
          margin-top: 2rem;
        }
        margin-left: 7rem;
        @include flex;
        gap: 3rem;
        img {
          @include imgCover(120px, 120px);
          border-radius: 100%;
        }
        small {
          align-self: center;
          span {
            font-size: 2rem;
            font-weight: bold;
          }
          p {
            margin-top: 1rem;
            font-size: 2rem;
            align-self: center;
          }
        }
      }
    }
  }
}

.cta {
  background-image: url("../../img/cta-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &__wrapper {
    text-align: center;
    height: 600px;
    @include flex(center, center);
    flex-direction: column;
  }
  h1 {
    font-family: "ClashDisplay-Medium";
  }
  h3 {
    text-align: center;
    font-weight: 100;
  }
  a {
    font-size: 2rem;
    margin-top: 3rem;
    padding: 1.5rem 4rem;
    background-color: $clr-secondary;
    border-radius: 5rem;
    color: $clr-light;
  }
}
