@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GT-Regular";
  src: url(../public/fonts/GT-Walsheim-Regular.woff2) format(".woff2");
}

@font-face {
  font-family: "GT-Bold";
  src: url(../public/fonts/GT-Walsheim-Bold.woff2) format(".woff2");
}

@font-face {
  font-family: "GT-Medium";
  src: url(../public/fonts/GT-Walsheim-Medium.woff2) format(".woff2");
}
@font-face {
  font-family: "GT-Black";
  src: url(../public/fonts/GT-Walsheim-Black.woff2) format(".woff2");
}

:root {
  --primary: 26 26 26;
  --secondary: 242 242 242;
  --accent: 226 44 47;
  --content: 255 255 255;
  --line: 48 54 61;
  --alert: 220 38 38;
  --cancel: 127 127 127;
  --info: 255 255 255;
  --warning: 255 128 44;
}

:root {
  --uiPrimary: 255 255 255;
  --cGreen: 226 44 47;
  --cOrange: 255 154 0;
  --cBlue: 1 71 255;
  --cRed: 254 0 1;
  --uiContent: 0 0 0;
  --uiLine: 14 14 14;
}

@layer base {
  html {
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }

    ::-webkit-scrollbar {
      width: 10px;
    }

    ::-webkit-scrollbar-track {
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
      background: rgba(54, 54, 54, 0.5);
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: rgb(5, 103, 201);
      transition: all;
    }

    scroll-behavior: smooth;
  }

  body {
    @apply bg-primary text-content font-poppins;
  }
  a {
    @apply text-content no-underline;
  }

  ul {
    @apply list-none text-content;
  }

  img {
    @apply block w-full h-auto bg-cover;
  }

  h1,
  h2,
  h3 {
    @apply font-bold;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-content;
  }
  h1 {
    @apply text-3xl mb-4;
  }
  h2 {
    @apply text-xl mb-4;
  }
  h3 {
    @apply text-lg mb-4;
  }
  h4 {
    @apply text-base mb-4;
  }
  p {
    @apply mb-2 text-content !leading-6 opacity-90;
  }

  article h1,
  h2,
  h3 {
    @apply font-medium;
  }

  article h1,
  article h2,
  article h3,
  article h4,
  article h5,
  article h6,
  article img,
  article p {
    @apply my-5;
  }
}

@layer components {
  .btn--ui {
    @apply px-10 py-2 transition-all;
  }

  .btn--border {
    @apply !px-4 !py-2 transition-all hover:bg-[#313131];
  }

  .btn--noBorderIcon {
    @apply translate-x-0 text-cGreen flex items-center gap-4;
  }

  .btn--noBorderIcon:hover {
    @apply translate-x-1 transition-all;
  }

  .btn--transparent {
    @apply border rounded-md border-cGreen text-cGreen;
  }

  .btn--transparent:hover {
    @apply bg-cGreen text-white ease-in-out transition-colors;
  }

  .btn {
    @apply px-2 py-1 rounded-md text-sm transition-colors flex items-center gap-2;
  }

  .btn:disabled {
    @apply cursor-not-allowed opacity-60;
  }

  .btn--accent {
    @apply bg-accent text-white;
  }

  .btn--cancel {
    @apply bg-cancel text-white;
  }

  .btn--warning {
    @apply bg-warning text-white;
  }

  .btn--info {
    @apply bg-info text-white;
  }

  .btn--alert {
    @apply bg-alert text-white;
  }

  .btn--form {
    @apply p-1.5 w-1/2 flex justify-center items-center gap-2;
  }

  table {
    @apply w-full text-[15px];
  }

  table th {
    @apply font-bold py-4 px-2 text-left;
  }

  table td {
    @apply p-2 text-left;
  }

  table tbody tr:nth-child(odd) {
    @apply bg-accent bg-opacity-10;
  }

  .table-action ul {
    @apply flex items-center gap-4 text-xl;
  }

  .tooltip {
    @apply relative;
  }

  .tooltip::after {
    @apply absolute content-[attr(data-tooltip)] text-xs p-1 px-3 text-content bg-secondary rounded-lg bg-opacity-90 top-[calc(100%+10px)] left-1/2 -translate-x-1/2 scale-0 transition-transform;
  }

  .tooltip:hover::after {
    @apply scale-100;
  }

  nav {
    @apply h-auto max-h-0 transition-all overflow-hidden;
  }

  nav.show {
    @apply max-h-[400px];
  }

  .nav {
    @apply space-y-4 mt-20;
  }

  .nav__link {
    @apply p-3 pl-8;
  }

  .nav__link.active a {
    @apply text-accent;
  }

  .nav__link a {
    @apply flex gap-3 items-center;
  }

  .nav__link.active {
    @apply ml-0.5 border-l-4 bg-accent/20 font-bold border-accent;
  }

  .tab-link {
    @apply px-6 py-3;
  }
  .tab-link.active {
    @apply border-b border-accent;
  }
  .tab-link.active a {
    @apply text-accent;
  }

  .input-wrap {
    @apply mb-3 relative;
  }

  .input-wrap label {
    @apply block mb-1;
  }

  .input-wrap input,
  .input-wrap select,
  .input-wrap textarea {
    @apply block w-full text-content focus:text-content p-0.5 rounded-md outline-none border-2 focus:border-accent focus:bg-accent/50;
  }

  .input-wrap small {
    @apply absolute top-1 right-1 text-red-500 italic;
  }

  .form-action {
    @apply flex gap-2;
  }

  .loading-bar::after {
    @apply content-[''] absolute top-0 left-0 w-[180%] h-full bg-gradient-to-r from-transparent via-accent to-transparent  animate-loading;
  }

  article img {
    @apply w-full h-[300px] object-cover rounded-lg;
  }

  article ul {
    @apply list-disc list-inside space-y-2;
  }
}

.spinner circle {
  fill: none;
  /* stroke: var(--light); */
  stroke-width: 6;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1s ease-in-out infinite;
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -110px;
  }
}

.table-shimmer {
  @apply h-2.5 bg-gray-200 rounded-full dark:bg-accent w-full;
}

.parent li {
  @apply text-sm py-2;
}

.parent a {
  @apply flex opacity-50 hover:opacity-100 transition-opacity;
}

.parent {
  @apply pb-3;
}

.nav-container {
  @apply before:mt-[70px] before:absolute before:left-0 before:h-16 before:w-full before:content-[""] before:z-50 before:bg-[linear-gradient(to_top,#ffffff00,#1a1a1a)] before:pointer-events-none
  
  after:absolute after:bottom-0 after:h-16 after:w-full after:content-[""] after:z-50 after:bg-[linear-gradient(to_bottom,#ffffff00,#1a1a1a)] after:pointer-events-none;
}
