@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply max-w-[90rem] p-6 w-full mx-auto;
}

@layer components {
  /* !~~~~~~~~~~ HEADER ~~~~~~~~~~! */

  .header {
    @apply bg-light 
    shadow-md 
    relative;
  }
  .header__wrapper {
    @apply flex items-center justify-between;
  }

  /* !~~~~~~~~~~ BRANDING ~~~~~~~~~~! */
  .branding {
    @apply md:flex items-center gap-8;
  }
  .branding img {
    @apply w-10;
  }
  .branding .header__navd {
    @apply hidden md:flex md:gap-10;
  }
  .header__navd {
    @apply font-bold;
  }
  .branding .header-navd li a {
    @apply font-medium text-xl text-dark hover:text-primary;
  }

  /* !~~~~~~~~~~ ACTION ~~~~~~~~~~! */
  .header__action {
    @apply bg-light 
    absolute
    z-10 
    top-[5.9rem]
    right-0 
    w-[0]
    h-[90vh]
    px-0
    pt-0
    overflow-hidden
    transition-all
    shadow-md
    md:static
    md:h-fit
    md:w-fit
    md:shadow-none;
  }

  .header__action.open {
    @apply w-[80%] 
    px-10 
    pt-10 
    transition-all;
  }

  .header__action .header__navm {
    @apply border-b-gray-400 border-b-[2px] pb-5 flex flex-col gap-5
    md:hidden;
  }

  .header__action .header__navm li a {
    @apply font-medium text-xl text-dark;
  }

  .header__action .header__btn a {
    @apply flex gap-2 items-center hover:text-primary;
  }

  .header__action .header__navm li:hover {
    @apply text-primary;
  }

  .header__action .header__btn {
    @apply pt-5 flex flex-col gap-3 md:flex md:flex-row-reverse md:pt-0;
  }

  .header__action .header__kamote {
    @apply flex gap-5;
  }

  /* !~~~~~~~~~~ BURGER ~~~~~~~~~~! */
  .burger__menu {
    @apply md:hidden;
  }

  .burger__menu span {
    @apply w-[1rem] h-[.1rem] bg-gray-700 block rounded-full transition-all;
  }

  .burger__menu span:nth-child(2) {
    @apply my-[.2rem];
  }

  .burger__menu.open span:first-child {
    @apply transform translate-y-[10px] rotate-[225deg] transition-all;
  }

  .burger__menu.open span:nth-child(2) {
    @apply opacity-0 transition-all;
  }

  .burger__menu.open span:last-child {
    @apply transform translate-y-[0px] rotate-[-225deg] transition-all;
  }

  /* !~~~~~~~~~~ BANNERS ~~~~~~~~~~! */

  .banner {
    @apply md:max-w-[1600px] mx-auto py-10;
  }

  .banner__card {
    @apply my-5 md:my-10 md:grid md:grid-cols-2 md:gap-4 items-center;
  }

  .banner__card:nth-child(odd) h2 {
    @apply md:text-[1.2rem];
  }

  .banner__card:nth-child(even) img {
    @apply md:order-2;
  }

  .banner__card img {
    @apply h-[100%] w-[100%];
  }
  .banner__card--content {
    @apply px-10 py-5 flex flex-col items-center gap-4;
  }
  .banner__card--content h2 {
    @apply text-center text-[1.2rem] font-bold lg:text-[3rem] text-[#1e3932];
  }
  .banner__card--content p {
    @apply text-center text-[1rem] lg:text-[1.5rem];
  }
  .banner__card--content a {
  }

  /* !~~~~~~~~~~ LINKS ~~~~~~~~~~! */

  .links {
    @apply p-6
    border-t-2;
  }

  .links__wrapper {
    @apply grid grid-cols-1 gap-10
    md:grid md:grid-cols-6;
  }

  .links__item ul {
    @apply max-h-[0]
    overflow-hidden
    transition-all
    flex
    flex-col
    gap-6
    md:max-h-[100%] md:pt-6;
  }

  .links__item ul.open {
    @apply max-h-[100%] pt-6 transition-all;
  }

  .links__item ul li a {
    @apply text-gray-500 font-semibold hover:text-dark;
  }

  .links__item h4 {
    @apply flex
    items-center
    justify-between
    font-semibold
    hover:cursor-pointer;
  }

  .links__item h4 i {
  }

  .links__item h4 i.open {
    @apply transform rotate-90 transition-all;
  }

  .links__item i {
    @apply transition-all md:hidden;
  }

  /* !~~~~~~~~~~ FOOTER ~~~~~~~~~~! */

  .footer {
  }

  .footer__wrapper {
    @apply pt-5 border-t-2 flex flex-col gap-5;
  }

  .footer__links ul {
    @apply flex flex-col 
    gap-4
    md:flex 
    md:flex-row 
    md:items-center;
  }

  .footer__links ul li {
    @apply font-semibold
    hover:underline 
    md:inline-block md:border-r-2 
  md:border-gray-500 
    md:px-6 
    md:text-center 
     
    md:mr-[-16px];
  }

  .footer__links ul li:first-child {
    @apply md:pl-0;
  }

  .footer__links ul li:last-child {
    @apply md:border-r-0 md:pr-0;
  }

  .footer__socials ul {
    @apply flex gap-4 my-3;
  }

  .footer__copyright h3 {
    @apply text-xs font-bold text-gray-500;
  }

  /* !~~~~~~~~~~ REWARD BANNER ~~~~~~~~~~! */

  .rBanner {
    @apply bg-starBannerM 
    h-[600px] 
    bg-cover 
    bg-secondary
    bg-right-bottom
    flex
    text-center
    md:text-left
    md:items-center
    md:bg-starBanner
    md:bg-left;
  }

  .banner-desktop {
    @apply hidden
    md:block;
  }

  .banner-mobile {
    @apply md:hidden;
  }

  .coffee__nav {
    @apply bg-[#f1f7f5];
  }
  .coffee__nav h4 {
    @apply text-2xl 
    font-semibold
    text-center;
  }
  .coffee__nav ul {
    @apply flex
    items-center
    justify-center
    mt-6;
  }

  .coffee__nav ul li {
    @apply px-3 pb-2 border-b-4 border-transparent;
  }

  .coffee__nav ul li.active {
    @apply border-b-4
    border-primary;
  }

  .coffee__nav ul li a {
    @apply text-lg font-semibold;
  }

  .coffee__tab {
    @apply bg-[#d4e9e2] 
    relative
    h-[450px] 
    md:h-[300px];
  }
  .coffee__item {
    @apply absolute 
    opacity-0 
    transition-all
    md:top-10
    md:grid
    md:grid-cols-[_2fr,_2fr]
    md:max-w-[50rem]
    md:items-center
    md:left-[20%];
  }

  .coffee__text {
    @apply flex 
    flex-col 
    gap-4
    mt-4
    px-5
    py-5;
  }
  .coffee__text h5 {
    @apply text-xl
    font-semibold
    text-center;
  }

  .coffee__text p {
    @apply text-center;
  }
  .coffee__item.active {
    @apply opacity-100 transition-all;
  }

  /* !~~~~~~~~~~ GETTING STARTED BANNER ~~~~~~~~~~! */

  .start__title {
    @apply flex flex-col gap-2 text-center;
  }

  .start__wrapper {
    @apply flex flex-col gap-5;
  }

  .start__cards {
    @apply md:grid 
    md:grid-cols-3;
  }

  .start__steps {
    @apply flex
    gap-5
    mb-5
    md:flex-col;
  }

  .step {
    @apply border-2 min-w-[40px] h-[40px] border-primary text-center rounded-full mx-auto
    md:w-[40px];
  }

  .start__content {
    @apply md:text-center md:px-10;
  }

  .step h1 {
    @apply font-semibold text-2xl;
  }
}

@layer utilities {
  .btn {
    @apply inline-block
    p-[.5rem]
    px-[1rem]
    rounded-full
    border-transparent
    border-[1]
    text-sm
    font-bold
    scale-[1] 
    hover:scale-[1.1];
  }
  .btn.bg--dark {
    @apply bg-dark
    text-light;
  }
  .btn.bg--light {
    @apply bg-transparent
    text-dark
    border-dark
    border-[1px];
  }
  .btn.bg--outline {
    @apply bg-transparent
    text-light
    border-light
    border-[1px];
  }
  .btn.bg--transparent {
    @apply bg-transparent
    border-[1px];
  }
}
